/** @define CTA; use strict */

.CTA {
  margin-bottom: 24px;
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.CTA-pulsar {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -12px;
}

@media (--large) {
  .CTA {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 24px;
  }

  .CTA-pulsar {
    float: left;
    position: relative;
    top: -24px;
    margin-right: 3px;
  }

  /* Cloud variation */
  .CTA--cloud {
    order: -1;
    justify-content: flex-end;
    padding-right: 5%;
  }

  .CTA--cloud .CTA-pulsar {
    float: right;
    margin-right: 0;
    margin-left: 3px;
  }

  /* PLM variation */
  .CTA--plm {
    padding-left: 5%;
  }
}
