/** @define Tagline; use strict */

.Tagline {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;

  transition: background-color 90ms ease-out,
    padding-top 120ms ease-out,
    padding-bottom 120ms ease-out;
}

.Tagline.is-cloudHighlighted,
.Tagline.is-plmHighlighted,
.Tagline.is-cloudExpanded,
.Tagline.is-plmExpanded {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.Tagline.is-cloudHighlighted {
  background-color: var(--brand-color-1) !important;
}
.Tagline.is-plmHighlighted {
  background-color: var(--brand-color-2) !important;
}
.Tagline.is-cloudExpanded {
  background-color: var(--brand-color-1);
}
.Tagline.is-plmExpanded {
  background-color: var(--brand-color-2);
}

.Tagline.is-cloudExpanded .Tagline-h,
.Tagline.is-plmExpanded .Tagline-h {
  display: none;
}
.Tagline.is-cloudExpanded .Tagline-cloud {
  display: block;
}
.Tagline.is-plmExpanded .Tagline-plm {
  display: block;
}

.Tagline-h,
.Tagline-p {
  font-size: 21px;
  line-height: 1.25;
}
.Tagline-h {
  text-align: center;
  font-weight: var(--font-weight-normal);
}
.Tagline-p {
  font-weight: var(--font-weight-light);
}

.Tagline-cloud,
.Tagline-plm {
  display: none;
}

@media (--large) {
  .Tagline {
    flex: 0 320px;

    font-size: 24px;

    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 1px;

    transition: flex 480ms ease-out,
      background-color 90ms ease-out,
      margin-top 120ms ease-out,
      margin-bottom 120ms ease-out,
      padding-top 120ms ease-out,
      padding-bottom 120ms ease-out;
  }

  .Tagline.is-cloudExpanded,
  .Tagline.is-plmExpanded {
    flex: 0 520px;
  }
}
