/** @define Tagline; use strict */

.Tagline {
  text-align: center;
}

.Tagline-h {
  font-size: 21px;
  font-weight: var(--font-weight-normal);
  line-height: 1.25;
  padding: 1em;
}

@media (--large) {
  .Tagline {
    display: flex;
    flex: 0 320px;
    align-items: center;
    justify-content: center;

    font-size: 24px;

    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 1px;
  }
}
